@model Boolean?

<div class="form-group">
    @Html.LabelRequiredFor(x => x, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-10">

        <div class="checkbox">
            <label>
                <input type="checkbox" id="@Html.IdFor(x => x)" name="@Html.NameFor(x => x)" value="True" @( (Model ?? false) ? "checked" : string.Empty ) />
                @*@Html.TextBoxFor(x => x, new { Type = "checkbox", value = true, @checked = Model })*@
                <i class="input-helper"></i> &nbsp;
            </label>
        </div>
        @Html.ValidationMessageFor(x => x)
    </div>
</div>